html,
body {
  background: none;
  height: 100%;
  line-height: 1;
}

.material-icons.md-147 {
  font-size: 147px;
}

.acebook {
  background: no-repeat;
  height: 100%;
  padding: 30% 0 0 0;
}

.row .card {
  background: none;
  padding: 0 0 0 3%;
  vertical-align: middle;
  margin-bottom: 5px;
}

.row {
  position: relative;
  top: -1540px;
}

.image-frame {
  float: left;
  height: 150px;
  width: 150px;
  margin: 0 5px 0 0;
  background: #fff;
  border: 2px solid #000;
}

.name {
  color: #3914a7;
  font-weight: bold;
}

.agent-name {
  margin: 0 0 5px 0;
}

.quote {
  margin: 0 0 5px 0;
}

.callout {
  background: #d3d8ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 5px 155px;
  padding: 3px 0 0 3px;
  width: 405px;
}

.callout p {
  margin: 0 0 0 5px;
}

.manager {
  left: 155px;
}

.manager img {
  padding: 0;
}

.mgr-name {
}

.applause {
  background: #d3d8ff;
  align-self: flex-start;
}

.applause img {
  display: inline;
  float: left;
}

.pat-edit {
  width: 300px;
  height: 60px;
  padding: 0 0 0 5px;
}

.file {
  display: none;
}

.repImage {
  display: none;
}