html,
body {
  background: none;
  height: 100%;
  line-height: 1;
}

.material-icons.md-147 {
  font-size: 147px;
}

.acebook {
  background: url("../img/acebook - template.png") no-repeat;
  height: 100%;
  padding: 145% 0 0 0;
}

.row .card {
  background: none;
  padding: 0 0 0 3%;
  vertical-align: middle;
  margin-bottom: 5px;
  float: left;
}

.row {
  left: 175px;
  position: relative;
  top: -1540px;
}

.image-frame {
  box-sizing: content-box;
  float: left;
  height: 150px;
  width: 150px;
  margin: 0 5px 0 0;
  background: #fff;
  border: 2px solid #000;
}

.name {
  color: #3914a7;
  font-weight: bold;
}

.agent-name {
  margin: 0 0 5px 0;
}

.thumb {
}

.quote {
  margin: 0 0 5px 0;
}

.callout {
  background: #d3d8ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 5px 155px;
  padding: 3px 0 0 3px;
  width: 405px;
}

.callout p {
  margin: 0 0 0 5px;
}


.manager img {
  padding: 0;
}

.applause {
  align-self: flex-start;
}

.applause img {
  display: inline;
}

.pat-edit {
  width: 300px;
  height: 60px;
  padding: 0 0 0 5px;
}

.file {
  display: none;
}

.repImage {
  display: none;
}

.editCanvas {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.canvas-done {
  margin: -100% 0 0 0;
}

#canvas {
  margin-left: auto;
  margin-right: auto;
}

.crop {
  height: 150px;
  width: 150px;
  border: 1px solid #000;
  z-index: 400;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  margin-top: -50%;
}

.crop:before,
.crop:after {
  content: '';
}